*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 3rem;
    padding: 0.5rem;
    width: 100px;
    height: 40px;
    border: none;
    color: #FFF;
}

main{
    max-width: 1440px;
    /* margin: 0px 50px; */
}

.primary-color{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* nav related styles */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 2rem 12.25rem;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-logo{
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    gap: 1.25rem;
}

.nav-logo > img{
    width: 100%;
 } 

.nav-bar > ul{
    display: flex;
    gap: 2rem;
}

nav li{
    list-style: none;
    padding: 10px;
}

nav li a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
}


.nav-follow-us{
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    
}


/* banner styles section */

.banner-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.banner-content{
    background-image: url('../images/Group 14.png');
    background-size: 100%;
    padding: 8rem 5rem;
}

.banner-images{
    padding: 5rem;
}

.banner-images img{
    width: 100%;
}

.banner-title{
    color: #0B0223;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
}

.goat{
   
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

.banner-content ul{
    padding-left: 0;
}

.banner-content li{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
    list-style: none;
}

.sign-in{
    background-color: #FF42A5;
}

.go-rouge{
    background-color: #4EC5F7;
}

/* card section */

.card-container{
    text-align: center;
    margin-top: 3rem;
    padding: 0 5rem;
}

.card-content img{
    width: 242px;
    height: 300px;

}

.card-content{
    display: flex;
    gap: 2rem;
}

.card-title{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    margin: 0;
}

.card-description{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}



/* play-online styles */

.play-online-container{
    display: flex;
    padding: 5rem 5rem 0 10rem;
    gap: 6rem;
    height:450px;
}

.play-online-images img{
    width: 100%;
}

.play-online-images .barbie{
    width: 50%;
    position: relative;
    right: 100px;
    bottom: 200px;
}

.play-online-content{
    padding: 3rem;
}

.play-online-title{
    text-align: right;
    font-size: 48px;
    font-weight: 700;

}
/* buttons styles */


.button-container .button{
    justify-content: center;
}

.button-container{
    padding: 5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}


.button{
    width: 150px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    border: none;

}

.button-container .button img{
    width: 30px;
}

button:hover{
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    border: 2px solid #FF42A5;
}


.footer{
    background-color: #0B0223;
    color: #FFF;
    text-align: center;
    padding: 100px;
    margin: 0 auto;
}

.footer-row-one{
    display: flex;
    align-items: center;
    width: 4rem;
    height: 2rem;
    gap: 1.25rem;
    margin: 0 auto;
    justify-content: center;
    
}

.footer-row-one > img{
    width: 100%;
}


.footer-nav ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    justify-content: center;
}

.footer-nav li a{
    text-decoration: none;
    color: #FFF;
}


.footer-social{
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.footer-terms{
    display: flex;
    justify-items: center;
    gap: 2rem;
}

.footer-terms ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}

.footer-terms li a{
    text-decoration: none;

    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
}

.footer-terms > p{
    color: rgba(255, 255, 255, 0.60);
}







@media screen and (max-width: 576px) {
    nav {
        box-shadow: 0;
        flex-direction: column;
        padding: 50px 0;
    }

    .nav-bar > ul {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .nav-logo {
        justify-content: center;
    }

    .banner-container {
        display: flex;
        flex-direction:column-reverse;
        padding: 0 50px;
        
    }

    .banner-content{
        padding: 30px;
        
    }

    .banner-images{
        padding: 30px;
    }

    .banner-images img{
        width: 100%;
    }

    .goat{
        font-size: 3.5rem;
    }

    .banner-title {
        font-size: 2rem;
    }


    /* card */

    .card-content {
        flex-direction: column;
    }

    .card-container{
        padding: 30px;
        
    }

    .play-online-container {
        padding: 2rem;
        gap: 3rem;
        flex-direction: column;
        height: 950px;
    }

    .play-online-content{
        text-align: center;
    }

    .play-online-title{
        text-align: center;
    }

    .play-online-images .oppenheimer{
        width: 75%;
        position: relative;
        left: 80px;
    }

    .play-online-images .barbie{
        width: 50%;
        position: relative;
        bottom: 150px;
        left: 5px;
    }








/* medium devices */

@media screen and (min-width: 576px) and (max-width: 960px) {
    
    nav{
        padding: 10px 50px;
    }
    
    .banner-container{
        display: flex;
        flex-direction: column-reverse;
        padding: 50px;
    }
    
    .banner-images img{
        width: 100%;
    }
    
    .banner-images {
        padding: 0;
    }

    .banner-content {
        padding: 30px;
    }

    .card-content {
        flex-direction: column;
    }

    .play-online-container {
        flex-direction: column;
    }

    .play-online-title{
        text-align: center;
    }
}